#title, #canvas, #button {
    margin-bottom: 20px;
    text-align: center;
}

#content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    overflow: auto;
}

body {
    background-color: black;
    color: #ECDBBA;
    margin: 0;
    padding: 0;
}

#canvas-surface {
    background-color: skyblue;
}

#color_picker {
    margin-top: 10px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #2D4263;
    padding: 5px;
    position: sticky;
    top: 0;
 }

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #ECDBBA;
}

header {
    display: inline;
}

footer {
    padding: 10px;
    color: #ECDBBA;
    background-color: #2D4263;
    text-align: center;
    font-weight: bold;
}

#file {
    margin-top: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #2D4263;
}

* {
    box-sizing: border-box;
}